* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 23.8%,
        rgba(169, 233, 252, 0.6) 92%
    );
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: rgba(6, 98, 126, 0.6);
    padding-top: 25px;
}

.principales {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    width: 75%;
    font-size: 1.5rem;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 20px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.principales_link {
    background-color: rgb(6, 98, 126);
    color: aliceblue;
    border-radius: 10px;
    font-size: 16px;
    padding: 14px;
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    transform: translate(8%, -220%);
    -ms-transform: translate(8%, -220%);
    text-decoration: none;
}

.cartel:hover .image {
    opacity: 0.3;
}

.cartel:hover .principales_link {
    opacity: 1;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 75%;
    text-align: center;
    padding: 10px;
}

.clases {
    padding: 20px;
}

.categories_link {
    background-color: rgb(6, 98, 126);
    color: aliceblue;
    padding: 50px 10px;
    margin: 2px;
    border-radius: 10px;
    word-wrap: break-word;
    font-size: 1.2rem;
}